@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  background: #171e31;
  height: 950px;
  display:flex;
  justify-content: flex-start;
  max-width: 1630px;
  overflow-x: auto;
  position: relative;
  font-family: 'Be Vietnam Pro', sans-serif;
}

/* css webapp */

.siderbar {
  width:370px;
  height:100%;
  background-color: #171e31;
  box-shadow: 7px 8px 85.0999984741211px 0px #222B46;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.container {
  margin-left:77px;
  margin-top:79px;
}
